@import '../../variables';

.controller__div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50rem;
  margin: auto;
  position: relative;
  top: -10rem;
  border-radius: 0.5rem;
  background-color: $light;
  padding: 3rem;
  font-size: 1.1rem;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  @include tablet {
    filter: none;
    border-radius: 0;
    grid-template-columns: 1fr;
    top: -12rem;
  }
  &--left {
  }
  &--right {
    min-height: 12rem;
    p {
      padding: 0.8rem 0;
      span {
        color: $cyan-dark;
        font-weight: 700;
      }
    }
  }
}

.controller__seconddiv {
  width: 3.5rem;
  position: fixed;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
}
