@import '../../variables';

.red {
  @include alert($hotpink);
}

.gold {
  @include alert($gold);
}

.cyan {
  @include alert($cyan);
}

.alertDown {
  animation-name: alertDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  @keyframes alertDown {
    0% {
      transform: translateY(-150%);
    }
    100% {
      transform: translateY(0%);
      visibility: visible;
    }
  }
}

.alertUp {
  animation-name: alertUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  @keyframes alertUp {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-150%);
      visibility: visible;
    }
  }
}
