// Colors
$light: #f7f7f7;
$cyan: #66d2d6;
$cyan-dark: #5bbec2;
$hotpink: #e56997;
$lilac: #bd97cb;
$gold: #fbc740;
$black: #2a2a2a;

// alertTypes

@mixin alert($color) {
  z-index: 9999;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: $color;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  color: $light;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  @include smallDesk {
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0;
    filter: none;
    text-align: center;
  }
}

// Media queries

@mixin smallDesk {
  @media screen and (max-width: 1055px) {
    @content;
  }
}

@mixin onlyDesk {
  @media screen and (min-width: 1055px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 280px) {
    @content;
  }
}
